@import "tailwindcss";

body {
  background-color: #f9fafb;
  color: #1a202c;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;

  .dark & {
    background-color: #0f172a;
    color: #f1f5f9;
  }
}

:root.theme-dark {
  color-scheme: dark;
}
